body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  color: blue;
}

.image-list::before {
  content: "";
  display: block;
  width: 100%;
}

.aspect-ratio-1::before {
  aspect-ratio: calc(1);
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.MuiAvatar-img {
  pointer-events: none;
}

.fc-list-event-title {
  text-decoration: underline;
}

/* Responsive iFrame */
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fc-h-event.live-event {
  border: 1px solid #b1365f;
  background-color: #e67399;
}
.fc .live-event .fc-list-event-dot {
  border-color: #e67399;
}

.live-event .fc-daygrid-event-dot {
  border-color: #e67399;
}

.fc-h-event.unregular-program {
  border: 1px solid #ab8b00;
  background-color: #e0c240;
}
.fc .unregular-program .fc-list-event-dot {
  border-color: #e0c240;
}
.unregular-program .fc-daygrid-event-dot {
  border-color: #e0c240;
}

.fc-h-event.others {
  border: 1px solid #b1440e;
  background-color: #e6804d;
}
.fc .others .fc-list-event-dot {
  border-color: #e6804d;
}
.others .fc-daygrid-event-dot {
  border-color: #e6804d;
}

.custom-fullcalendar .fc table {
  font-size: 0.7em;
}

.custom-fullcalendar .fc-daygrid-event {
  font-size: 1.1em;
}

.custom-fullcalendar .fc-daygrid-event-dot {
  margin: 0px;
}

a.a-nondecoration,
a.a-nondecoration :visited {
  text-decoration: none;
  color: inherit;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#footer .MuiBottomNavigationAction-label.Mui-selected {
  font-size: 0.825rem;
}
